@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Work+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #23253a;
  color: #fff;
  font-family: para;
}

.content {
  min-height: 100vh;
}

.chart-container {
  max-width: 100%;
  margin: 0 auto;
}

.line-chart {
  width: 100%;
}

/* Add media query for smaller screens */
@media screen and (min-width: 350px) {
  .line-chart {
    width: 100%;
  }
}
